@model IEnumerable<User>

@{
    ViewData["Title"] = "User List";
}

@if (TempData["Success"] != null)
{
    <h3>@TempData["Success"]</h3>
}


<div class="container-fluid">
    <div class="row">
       
        <!--Column 1-->
        <div class="col-md-12">
            <div class="card">

                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <center>
                                <img height="100" width="100" src="~/img/userlist.png" />
                                <h5>User List</h5>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr />
                        </div>
                    </div>
                    <!--Table-->

                    <div class="row">
                        <div class="col">
                            <table class="table table-bordered table-striped ">

                                <thead>
                                    <tr class="text-center">
                                        <th>Full Name</th>
                                        <th>Email Address</th>
                                        <th>Mobile Phone</th>
                                        <th>City</th>
                                        <th>Statee</th>
                                        <th>Postal Code</th>
                                        @*<th></th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var obj in Model)
                                    {
                                        <tr>
                                            <td>
                                                @obj.FullName
                                            </td>
                                            <td>
                                                @obj.Email
                                            </td>
                                            <td>
                                                @obj.MobilePhone
                                            </td>
                                            <td>
                                                @obj.City
                                            </td>
                                            <td>
                                                @obj.State
                                            </td>

                                            <td>
                                                @obj.PostalCode
                                            </td>
                                          
                                        </tr>
                                    }

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>